In [36]:
import pandas as pd
import numpy as np
immos = pd.read_csv("housing.csv")

In [37]:
immos.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [38]:
immo = immos.dropna()

In [39]:
immo

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [40]:
immo = immo.dropna()
immo

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [75]:
uniteMaison = immo['population']/immo['households']
#print(nbreMaison)
salaire = immo['median_income'] * 1000
#print(salaire)
#chambParFoyer = immo['rooms']/immo['']
#chambParFoyer
metre2ParMaison = immo['total_rooms'] * 0.093
nombreDeChambreParMais = immo['total_bedrooms'] * 0.093
#nombreDeChambreParMais
age_maison = immo['housing_median_age']

In [64]:
endroit = immo['ocean_proximity']

#end = endroit.map({'<1H OCEAN':0, 'INLAND':1, 'ISLAND':2, 'NEAR BAY':3, 'NEAR OCEAN':4})
endroit

0        4
1        4
2        4
3        4
4        4
        ..
20635    1
20636    1
20637    1
20638    1
20639    1
Name: ocean_proximity, Length: 20433, dtype: int64

In [77]:
#plan = pd.DataFrame([uniteMaison,salaire,metre2ParMaison,nombreDeChambreParMais,endroit ])
plan = pd.DataFrame({'Maison par hab': uniteMaison, 'salaire':salaire, 'M2':metre2ParMaison, 'Chambre m2':nombreDeChambreParMais, 'Lieu': endroit,
'age maison' : age_maison })
plan

       Maison par hab  salaire       M2  Chambre m2  Lieu  age maison
0            2.555556   8325.2   81.840      11.997     4        41.0
1            2.109842   8301.4  660.207     102.858     4        21.0
2            2.802260   7257.4  136.431      17.670     4        52.0
3            2.547945   5643.1  118.482      21.855     4        52.0
4            2.181467   3846.2  151.311      26.040     4        52.0
...               ...      ...      ...         ...   ...         ...
20635        2.560606   1560.3  154.845      34.782     1        25.0
20636        3.122807   2556.8   64.821      13.950     1        18.0
20637        2.325635   1700.0  209.622      45.105     1        17.0
20638        2.123209   1867.2  172.980      38.037     1        18.0
20639        2.616981   2388.6  259.005      57.288     1        16.0

[20433 rows x 6 columns]