In [6]:
import pandas as pd
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [9]:
iris = pd.read_csv("Jeux_de_donnees/iris.csv", delimiter=";", encoding="latin-1")
iris

,Longueur des sépales,Largeur des sépales,Longueur des pétales,Largeur des pétales,Espèce
0,5.1,3.5,1.4,0.2,1
1,4.9,3.0,1.4,0.2,1
2,4.7,3.2,1.3,0.2,1
3,4.6,3.1,1.5,0.2,1
4,5.0,3.6,1.4,0.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,3
146,6.3,2.5,5.0,1.9,3
147,6.5,3.0,5.2,2.0,3
148,6.2,3.4,5.4,2.3,3
149,5.9,3.0,5.1,1.8,3

In [13]:
iris2 = iris[iris['Espèce']!=3]
iris2

,Longueur des sépales,Largeur des sépales,Longueur des pétales,Largeur des pétales,Espèce
0,5.1,3.5,1.4,0.2,1
1,4.9,3.0,1.4,0.2,1
2,4.7,3.2,1.3,0.2,1
3,4.6,3.1,1.5,0.2,1
4,5.0,3.6,1.4,0.2,1
...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,2
96,5.7,2.9,4.2,1.3,2
97,6.2,2.9,4.3,1.3,2
98,5.1,2.5,3.0,1.1,2
99,5.7,2.8,4.1,1.3,2

In [45]:
iris2.describe()

,Longueur des sépales,Largeur des sépales,Longueur des pétales,Largeur des pétales,Espèce
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,5.471000,3.099000,2.861000,0.786000,1.500000
std,0.641698,0.478739,1.449549,0.565153,0.502519
min,4.300000,2.000000,1.000000,0.100000,1.000000
25%,5.000000,2.800000,1.500000,0.200000,1.000000
50%,5.400000,3.050000,2.450000,0.800000,1.500000
75%,5.900000,3.400000,4.325000,1.300000,2.000000
max,7.000000,4.400000,5.100000,1.800000,2.000000

In [74]:
import numpy as np

iris2["Longueur_sépales_disc"] = pd.cut(iris2["Longueur des sépales"],
                               bins=5,
                               labels=["class1", "class2",
                                       "class3", "class4", "class5"])

<ipython-input-74-81f8b98c132c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris2["Longueur_sépales_disc"] = pd.cut(iris2["Longueur des sépales"],

In [75]:
iris2

,Longueur des sépales,Largeur des sépales,Longueur des pétales,Largeur des pétales,Espèce,Longueur_sépales_disc
0,5.1,3.5,1.4,0.2,1,class2
1,4.9,3.0,1.4,0.2,1,class2
2,4.7,3.2,1.3,0.2,1,class1
3,4.6,3.1,1.5,0.2,1,class1
4,5.0,3.6,1.4,0.2,1,class2
...,...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,2,class3
96,5.7,2.9,4.2,1.3,2,class3
97,6.2,2.9,4.3,1.3,2,class4
98,5.1,2.5,3.0,1.1,2,class2
99,5.7,2.8,4.1,1.3,2,class3

### Test du chi2

Ce test permet de vérifier l'absence de lien statistique entre deux variables X et Y.

Les deux sont dites indépendantes lorsqu'il n'existe aucun lien statistique entre elles, dit autrement, la connaissance de X ne permet en aucune manière de se prononcer sur Y.

L'hypothèse nulle (H0) de ce test est la suivante : les deux variables X et Y sont indépendantes.

En termes de valeur p, l'hypothèse nulle est généralement rejetée lorsque p ≤ 0,05.

#### On commence pa créer un tablesu de contingence

In [77]:
cont = iris2[["Espèce", "Longueur_sépales_disc"]].pivot_table(
    index="Espèce", columns="Longueur_sépales_disc", aggfunc=len).fillna(0).copy().astype(int)

cont

Longueur_sépales_disc  class1  class2  class3  class4  class5
Espèce
1                          16      24      10       0       0
2                           0       5      21      15       9

In [78]:
from scipy.stats import chi2_contingency
st_chi2, st_p, st_dof, st_exp = chi2_contingency(cont)
st_p

1.6921892453303934e-11

In [21]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1,
                               test_size=0.2, random_state=42)

for train_index, test_index in split.split(iris2, iris2["Espèce"]):
    strat_train_set = iris2.loc[train_index]
    strat_test_set = iris2.loc[test_index]

X_train = np.c_[strat_train_set[["Longueur des sépales", "Largeur des sépales",
                                "Longueur des pétales", "Largeur des pétales"]]]
y_train = np.array(strat_train_set["Espèce"])

X_test = np.c_[strat_test_set[["Longueur des sépales", "Largeur des sépales",
                                "Longueur des pétales", "Largeur des pétales"]]]
y_test = np.array(strat_test_set["Espèce"])

In [22]:
model = make_pipeline(StandardScaler(),
                     SGDClassifier(max_iter=1000, loss='log'))
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdclassifier', SGDClassifier(loss='log'))])

In [29]:
model.predict(X_test)

array([2, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2],
      dtype=int64)

In [30]:
model.predict_proba(X_test)

array([[1.40107925e-11, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.84447102e-14],
       [1.00000000e+00, 1.43074393e-19],
       [1.00000000e+00, 2.79324755e-12],
       [0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 6.85089574e-15],
       [1.00000000e+00, 4.66984287e-20],
       [1.00000000e+00, 4.30166511e-15],
       [0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00293845e-13],
       [1.00000000e+00, 7.63224536e-13],
       [1.00000000e+00, 1.96958624e-16],
       [4.69402295e-13, 1.00000000e+00],
       [4.44089210e-16, 1.00000000e+00],
       [1.00000000e+00, 3.78250749e-14],
       [0.00000000e+00, 1.00000000e+00],
       [1.99840144e-15, 1.00000000e+00]])

In [32]:
model.classes_

array([1, 2], dtype=int64)

Un classifieur construit une frontière entre deux classes, la distance d’un point à la frontière constitue une information importante. Plus elle est grande, plus le modèle est confiant. Cette distance est souvent appelée score.

In [93]:
model.decision_function(X_test)

array([ 24.99118986,  52.69108256,  41.97416888,  36.76096646,
       -31.62399877, -43.39092223, -26.6038162 ,  40.73240621,
       -32.61439699, -44.51057644, -33.07977421,  43.18827296,
       -29.93067206, -27.90122413, -36.163538  ,  28.38753638,
        35.35241012, -30.90580416,  37.08182157,  33.86880179])

#### Matrice de confusion

In [91]:
from sklearn.metrics import confusion_matrix
conf = confusion_matrix(y_test, model.predict(X_test))
conf

array([[10,  0],
       [ 0, 10]], dtype=int64)

#### Valeur de la courbe roc

In [119]:
from sklearn.metrics import roc_curve, auc

fpr, tpr, thresholds = roc_curve(y_test, model.decision_function(X_test), pos_label=2)

fpr

tpr

array([0. , 0.1, 1. , 1. ])

In [120]:
fpr

array([0., 0., 0., 1.])

- fpr désigne le False Positive Rate autrement dit le taux de faux positive, C’est l’erreur de classification. 
- tpr désigne le nombre de True Positive Rate.
- True et False ne sont pas vrai ou faux mais le nom de deux classes.

#### L'aire sous la courbe

In [116]:
auc = auc(fpr, tpr)
auc

1.0

3