In [60]:
import pandas as pd
import numpy as np
fandago = pd.read_csv("fandango_score_comparison.csv")

fandago.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

In [6]:
#objet serie
### Types de données d'un objet Series : 
# - Float
# - Int
# - Bool
# - Datetime64[ns] : Date et horaire sans la time zone
# - Datetime[ns, tz] : Date et horaire avec la time zone
# - Timedelta[ns] : Différence de date et horaire (seconde, minute, …)
# - Category : pour les variables catégorielles
# - Object : chaîne de caractère.

In [58]:
series_film = fandago['FILM']
print(type(series_film))
print()
print(series_film[0:5])

<class 'pandas.core.series.Series'>

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [59]:
## Indexage avec des entiers
# - Sélectionner la colonne "FILM" et assigner la à la variable series_film puis afficher les 5 premières valeurs.
# - Faire de même avec la colonne "RottenTomatoes" et assigner la à la variable series_rt puis afficher les 5 premières valeurs.

series_rt = fandago['RottenTomatoes']
print(series_rt[0:5])

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [10]:
# personnaliser son indexage

from pandas import Series

In [11]:
film_names = series_film.values
rt_scores = series_rt.values
type(film_names)

numpy.ndarray

In [13]:
series_custom = Series(rt_scores, index=film_names)
#  CELLE QUI ST CONTENUES

In [14]:
series_custom

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64

In [15]:
# j'ai choisi d'afficher
series_custom[['Avengers: Age of Ultron (2015)', 'Gett: The Trial of Viviane Amsalem (2015)']]

Avengers: Age of Ultron (2015)                74
Gett: The Trial of Viviane Amsalem (2015)    100
dtype: int64

In [16]:
series_custom[5:11]

The Water Diviner (2015)             63
Irrational Man (2015)                42
Top Five (2014)                      86
Shaun the Sheep Movie (2015)         99
Love & Mercy (2015)                  89
Far From The Madding Crowd (2015)    84
dtype: int64

In [17]:
# reindexer un objet series
original_index = series_custom.index
sorted_index = sorted(original_index)
sorted_by_index = series_custom.reindex(sorted_index)

In [18]:
## Réindexer un objet Series
# - Créer la liste original_index contenant l'index actuel à partir de l'attribut index.
# - Trier cet index en utilisant la méthode sorted() et assigner le résultat à la variable sorted_index.
# - Puis appliquer la méthode reindex() à notre Series custom_series afin de réindexer selon l'index de sorted_index.
# - Stocker le résultat dans la variable sorted_by_index.
# - Afficher le résultat.
print(sorted_by_index)

'71 (2015)                          97
5 Flights Up (2015)                 52
A Little Chaos (2015)               40
A Most Violent Year (2014)          90
About Elly (2015)                   97
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 146, dtype: int64

In [19]:
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()

In [20]:
print(sc2[0:10])

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

In [21]:
print(sc3[0:10])

## Trier un objet Series
# - Trier la Series series_custom par index en utilisant la méthode sort_index() et assigner le résultat à la variable sc2.
# - Trier la Series series_custom par valeurs et assigner le résultat à la variable sc3.
# - Afficher les 10 premières valeurs de sc2 et sc3.

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

In [23]:
# ascending false : descendant

series_normalized = (series_custom/20)
series_normalized

## Transformation de colonnes
# - Normaliser la Series series_custom (échelle de notes de 0 à 100) pour obtenir une échelle de notes de 0 à 5 en divisant l'objet par 20.
# - Assigner le nouvel objet Series à la variable series_normalized.
# - Afficher le résultat.

Avengers: Age of Ultron (2015)               3.70
Cinderella (2015)                            4.25
Ant-Man (2015)                               4.00
Do You Believe? (2015)                       0.90
Hot Tub Time Machine 2 (2015)                0.70
                                             ...
Mr. Holmes (2015)                            4.35
'71 (2015)                                   4.85
Two Days, One Night (2014)                   4.85
Gett: The Trial of Viviane Amsalem (2015)    5.00
Kumiko, The Treasure Hunter (2015)           4.35
Length: 146, dtype: float64

In [24]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75
criteria_one

Avengers: Age of Ultron (2015)                True
Cinderella (2015)                             True
Ant-Man (2015)                                True
Do You Believe? (2015)                       False
Hot Tub Time Machine 2 (2015)                False
                                             ...
Mr. Holmes (2015)                             True
'71 (2015)                                    True
Two Days, One Night (2014)                    True
Gett: The Trial of Viviane Amsalem (2015)     True
Kumiko, The Treasure Hunter (2015)            True
Length: 146, dtype: bool

In [26]:
both_criteria = series_custom[criteria_one & criteria_two]
both_criteria
## Comparer et filtrer
# - Assigner à la variable criteria_one le critère des valeurs de series_custom supérieurs à 50.
# - Assigner à la variable criteria_two le critère des valeurs de series_custom inférieurs à 75.
# - Retourner un nouvel objet Series filtré qu'on nommera both_criteria qui contient seulement les valeurs pour lesquelles les 2 critères sont vrais.
# - Afficher ce dernier résultat.

Avengers: Age of Ultron (2015)                                            74
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
American Sniper (2015)                                                    72
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Big Eyes (2014)                                                           72
Maggie (2015)                                                             54
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Spare Parts (2015)                                                        52
dtype: int64

In [27]:
rt_critics = Series(fandago['RottenTomatoes'].values, index=fandago['FILM'])
rt_users = Series(fandago['RottenTomatoes_User'].values, index=fandago['FILM'])

In [30]:
rt_mean = (rt_critics + rt_users)/2

In [31]:
print(rt_mean)

FILM
Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64

In [33]:
# tout sur les objets dataframes Pandas
first = 0
last = fandago.shape[0]-1
# renvoie 
print(fandago.shape[0])

146

In [34]:
first_last = fandago.iloc[[first,last]]
first_last
# je recup la 1 et la derniere ligne

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.30,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
145,"Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

In [38]:
# set index pour nommer l'index , nom de la colonne 
fandago_films = fandago.set_index('FILM', drop=False)
print(fandago_films.index)

Index(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)',
       'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)',
       'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       ...
       'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)',
       'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)',
       'Mr. Holmes (2015)', ''71 (2015)', 'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'],
      dtype='object', name='FILM', length=146)

In [40]:
# selectionner des valeurs depuis un index .loc

movies = ["Top Five (2014)", "Black Sea (2015)", "Taken 3 (2015)"]
some_movies = fandago_films.loc[movies]
some_movies

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Top Five (2014),Top Five (2014),86,64,81,6.8,6.5,4.0,3.5,4.30,3.2,...,3.25,4.5,3.0,4.0,3.5,3.5,124,16876,3223,0.5
Black Sea (2015),Black Sea (2015),82,60,62,6.6,6.4,4.0,3.5,4.10,3.0,...,3.20,4.0,3.0,3.0,3.5,3.0,37,16547,218,0.5
Taken 3 (2015),Taken 3 (2015),9,46,26,4.6,6.1,4.5,4.1,0.45,2.3,...,3.05,0.5,2.5,1.5,2.5,3.0,240,104235,6757,0.4

In [41]:
fandago_films.dtypes
# tous
## Méthode Apply() sur les colonnes d'un DataFrame
# - Obtenir le dataframe float_df ne contenant que les colonnes décimales float64 à l'aide de l'attribut .dtypes
# - Utiliser la méthode apply() sur ce dataframe float_df afin d'obtenir l'écart type chaque colonne et assigner le résultat à la variable exo_df.
# - Afficher les premières lignes du résultat.

FILM                           object
RottenTomatoes                  int64
RottenTomatoes_User             int64
Metacritic                      int64
Metacritic_User               float64
IMDB                          float64
Fandango_Stars                float64
Fandango_Ratingvalue          float64
RT_norm                       float64
RT_user_norm                  float64
Metacritic_norm               float64
Metacritic_user_nom           float64
IMDB_norm                     float64
RT_norm_round                 float64
RT_user_norm_round            float64
Metacritic_norm_round         float64
Metacritic_user_norm_round    float64
IMDB_norm_round               float64
Metacritic_user_vote_count      int64
IMDB_user_vote_count            int64
Fandango_votes                  int64
Fandango_Difference           float64
dtype: object

In [46]:
types = fandago_films.dtypes
float_columns = types[types.values == 'float64'].index

float_columns

Index(['Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Fandango_Difference'],
      dtype='object')

In [48]:
float_df = fandago_films[float_columns]
float_df.head

<bound method NDFrame.head of                                            Metacritic_User  IMDB  \
FILM
Avengers: Age of Ultron (2015)                         7.1   7.8
Cinderella (2015)                                      7.5   7.1
Ant-Man (2015)                                         8.1   7.8
Do You Believe? (2015)                                 4.7   5.4
Hot Tub Time Machine 2 (2015)                          3.4   5.1
...                                                    ...   ...
Mr. Holmes (2015)                                      7.9   7.4
'71 (2015)                                             7.5   7.2
Two Days, One Night (2014)                             8.8   7.4
Gett: The Trial of Viviane Amsalem (2015)              7.3   7.8
Kumiko, The Treasure Hunter (2015)                     6.4   6.7

                                           Fandango_Stars  \
FILM
Avengers: Age of Ultron (2015)                        5.0
Cinderella (2015)                                     5.0
Ant-Man (2015)                                        5.0
Do You Believe? (2015)                                5.0
Hot Tub Time Machine 2 (2015)                         3.5
...                                                   ...
Mr. Holmes (2015)                                     4.0
'71 (2015)                                            3.5
Two Days, One Night (2014)                            3.5
Gett: The Trial of Viviane Amsalem (2015)             3.5
Kumiko, The Treasure Hunter (2015)                    3.5

                                           Fandango_Ratingvalue  RT_norm  \
FILM
Avengers: Age of Ultron (2015)                              4.5     3.70
Cinderella (2015)                                           4.5     4.25
Ant-Man (2015)                                              4.5     4.00
Do You Believe? (2015)                                      4.5     0.90
Hot Tub Time Machine 2 (2015)                               3.0     0.70
...                                                         ...      ...
Mr. Holmes (2015)                                           4.0     4.35
'71 (2015)                                                  3.5     4.85
Two Days, One Night (2014)                                  3.5     4.85
Gett: The Trial of Viviane Amsalem (2015)                   3.5     5.00
Kumiko, The Treasure Hunter (2015)                          3.5     4.35

                                           RT_user_norm  Metacritic_norm  \
FILM
Avengers: Age of Ultron (2015)                     4.30             3.30
Cinderella (2015)                                  4.00             3.35
Ant-Man (2015)                                     4.50             3.20
Do You Believe? (2015)                             4.20             1.10
Hot Tub Time Machine 2 (2015)                      1.40             1.45
...                                                 ...              ...
Mr. Holmes (2015)                                  3.90             3.35
'71 (2015)                                         4.10             4.15
Two Days, One Night (2014)                         3.90             4.45
Gett: The Trial of Viviane Amsalem (2015)          4.05             4.50
Kumiko, The Treasure Hunter (2015)                 3.15             3.40

                                           Metacritic_user_nom  IMDB_norm  \
FILM
Avengers: Age of Ultron (2015)                            3.55       3.90
Cinderella (2015)                                         3.75       3.55
Ant-Man (2015)                                            4.05       3.90
Do You Believe? (2015)                                    2.35       2.70
Hot Tub Time Machine 2 (2015)                             1.70       2.55
...                                                        ...        ...
Mr. Holmes (2015)                                         3.95       3.70
'71 (2015)                                                3.75       3.60
Two Days, One Night (2014)                                4.40       3.70
Gett: The Trial of Viviane Amsalem (2015)                 3.65       3.90
Kumiko, The Treasure Hunter (2015)                        3.20       3.35

                                           RT_norm_round  RT_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)                       3.5                 4.5
Cinderella (2015)                                    4.5                 4.0
Ant-Man (2015)                                       4.0                 4.5
Do You Believe? (2015)                               1.0                 4.0
Hot Tub Time Machine 2 (2015)                        0.5                 1.5
...                                                  ...                 ...
Mr. Holmes (2015)                                    4.5                 4.0
'71 (2015)                                           5.0                 4.0
Two Days, One Night (2014)                           5.0                 4.0
Gett: The Trial of Viviane Amsalem (2015)            5.0                 4.0
Kumiko, The Treasure Hunter (2015)                   4.5                 3.0

                                           Metacritic_norm_round  \
FILM
Avengers: Age of Ultron (2015)                               3.5
Cinderella (2015)                                            3.5
Ant-Man (2015)                                               3.0
Do You Believe? (2015)                                       1.0
Hot Tub Time Machine 2 (2015)                                1.5
...                                                          ...
Mr. Holmes (2015)                                            3.5
'71 (2015)                                                   4.0
Two Days, One Night (2014)                                   4.5
Gett: The Trial of Viviane Amsalem (2015)                    4.5
Kumiko, The Treasure Hunter (2015)                           3.5

                                           Metacritic_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)                                    3.5
Cinderella (2015)                                                 4.0
Ant-Man (2015)                                                    4.0
Do You Believe? (2015)                                            2.5
Hot Tub Time Machine 2 (2015)                                     1.5
...                                                               ...
Mr. Holmes (2015)                                                 4.0
'71 (2015)                                                        4.0
Two Days, One Night (2014)                                        4.5
Gett: The Trial of Viviane Amsalem (2015)                         3.5
Kumiko, The Treasure Hunter (2015)                                3.0

                                           IMDB_norm_round  \
FILM
Avengers: Age of Ultron (2015)                         4.0
Cinderella (2015)                                      3.5
Ant-Man (2015)                                         4.0
Do You Believe? (2015)                                 2.5
Hot Tub Time Machine 2 (2015)                          2.5
...                                                    ...
Mr. Holmes (2015)                                      3.5
'71 (2015)                                             3.5
Two Days, One Night (2014)                             3.5
Gett: The Trial of Viviane Amsalem (2015)              4.0
Kumiko, The Treasure Hunter (2015)                     3.5

                                           Fandango_Difference
FILM
Avengers: Age of Ultron (2015)                             0.5
Cinderella (2015)                                          0.5
Ant-Man (2015)                                             0.5
Do You Believe? (2015)                                     0.5
Hot Tub Time Machine 2 (2015)                              0.5
...                                                        ...
Mr. Holmes (2015)                                          0.0
'71 (2015)                                                 0.0
Two Days, One Night (2014)                                 0.0
Gett: The Trial of Viviane Amsalem (2015)                  0.0
Kumiko, The Treasure Hunter (2015)                         0.0

[146 rows x 15 columns]>

In [49]:
import numpy as np
exo_df = float_df.apply(lambda x: np.std(x))
exo_df.head()
# x nom / que je lui donne sur les colonnes

Metacritic_User         1.505529
IMDB                    0.955447
Fandango_Stars          0.538532
Fandango_Ratingvalue    0.501106
RT_norm                 1.503265
dtype: float64

In [56]:
# sur les lignes axis=1 que pour apply sinon l'inverse
import numpy as np
rt_mt_user = float_df[['RT_user_norm','Metacritic_user_nom']]
rt_mt_means = rt_mt_user.apply(lambda row: np.mean(row), axis=1)
## Méthode Apply() sur les lignes d'un DataFrame
# - Utiliser la méthode apply() pour calculer la moyenne (méthode mean() de la librairie Numpy) des valeurs de chaque film pour 'RT_user_norm' et 'metacritic_user_nom' puis assigner le résultat à la variable rt_mt_means.
# - Afficher les 5 premières valeurs de rt_mt_means.

In [57]:
print(rt_mt_means[0:5])

FILM
Avengers: Age of Ultron (2015)    3.925
Cinderella (2015)                 3.875
Ant-Man (2015)                    4.275
Do You Believe? (2015)            3.275
Hot Tub Time Machine 2 (2015)     1.550
dtype: float64